.header{
    min-height: 50vh;
    width: 107%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/wilpattu2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
}
.wilpattu{
    
    padding: 7%;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}


